﻿<!DOCTYPE html>
<html>
<head>
    <title>Shopping Online</title>
    <link href="~/Styles/uikit.min.css" rel="stylesheet" />

</head>
<body ng-app="Shopping">
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li class="uk-parent"><a href="">...</a></li>
        </ul>
    </nav>

    @RenderBody()
</body>           
<script src="~/Scripts/angular.min.js"></script>
<script src="~/App/App.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/App/Services/ApiService.js"></script>
<script src="~/App/Routing/category-route.js"></script>
<script src="~/App/Controllers/CategoriesController.js"></script>
<script src="~/App/Controllers/ProductsController.js"></script>
</html>
