﻿<div ng-controller="HomeController">
    <table class="uk-table">
        <caption>Categories</caption>
        <thead>
            <tr>
                <th>#</th>

                <th>Name</th>
            </tr>
        </thead>

        <tr ng-repeat="category in categories">
            <td>{{category.Id}}</td>
            <td>{{category.Name}}</td>
        </tr>
    </table>
</div>