﻿<div ng-controller="CategoriesController">
    <table class="uk-table">
        <caption>Categories</caption>
        <thead>
            <tr>
                <th>#</th>

                <th>Name</th>
            </tr>
        </thead>

        <tr ng-repeat="category in categories">
            <td>{{category.Id}}</td>
            <td><a href="#Category/{{category.Id}}">{{category.Name}}</a></td>        
            <td><a href="#Category/{{category.Id}}/Edit">Edit</a> | <a href="">Delete</a></td>
        </tr>
    </table>
</div>